export(cdist, cdistKNN, predict_pam)
import(philentropy)
importFrom("purrr", "map")
importFrom("purrr", "pmap")
importFrom("purrr", "map_df")
importFrom("purrr", "map_dbl")
importFrom("purrr","map_chr")
importFrom("stats", "dist", "start")
importFrom("purrr","is_scalar_vector")
importFrom("magrittr","%>%")
importFrom("forcats","fct_drop")
importFrom("cluster","pam")
importFrom("data.table","data.table")
importFrom("data.table","as.data.table")
importFrom("tibble","tibble")
importFrom("tibble","as_tibble")
importFrom("fastDummies","dummy_cols")
importFrom("Matrix","bdiag")
importFrom("tidytable","crossing")
importFrom("dplyr","filter")
importFrom("dplyr","mutate")
importFrom("dplyr","pull")
importFrom("dplyr","rename")
importFrom("dplyr","select")
