export(cdist, cdistKNN, predict_pam)
import(philentropy)
importFrom("purrr", "map_df")
importFrom("purrr", "map_dbl")
importFrom("magrittr","`%>%`")
importFrom("forcats","fct_drop")
importFrom("cluster","pam")
importFrom("data.table","data.table")
importFrom("tibble","as_tibble")
importFrom("fastDummies","dummy_cols")
importFrom("Matrix","bdiag")
